<!-- <p>product-detail works!</p>
 -->
<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">
    <img src="{{ product.imgUrl }}" alt="" />
    <!-- why or whynot ??>>>  <img [src]="product.imgUrl" alt=""/>-->
    <div class="caption">
      <h4>
        <a href="#">{{ product.name }}</a>
      </h4>
      <h4 class="pull-right"><br />{{ product.price }}</h4>
      <p>
        {{ product.description }}
        <!--   why ??      <a target="_blank" href=""></a>    -->
      </p>
    </div>
    <div class="ratings">
      <p class="pull-right">{{ product.reviews }}</p>
      <!-- <p class="pull-right">
        {{ product.ratings }}
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
      </p> -->
      <!--       <app-ratings [rating]="product.rating"></app-ratings>    -->
    </div>
    <button class="btn btn-sm" (click)="addtocart()">ADD to Cart</button>
  </div>
</div>
