<div id="root">
  <div class="App">
    <!--<Header>-->
    <app-header></app-header>
    <!--</Header>-->

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p class="lead">Shop Name</p>
          <div class="list-group">
            <a href="#" class="list-group-item">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
          </div>
        </div>

        <div class="col-md-9">
          <!--<Carousel>-->
          <app-carousel></app-carousel>
          <!--</Carousel>-->
          <div class="row">
            <!--<ProductDetail>-->
            <app-product-detail></app-product-detail>
            <!--</ProductDetail>-->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <hr />
      <!--</Footer>-->
      <app-footer></app-footer>
      <!--</Footer>-->
    </div>
  </div>
</div>
